<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PlanBi Events</title>
    {% block head_extra %}
	<link rel="stylesheet" href="/static/style.css">
	{% endblock %}
</head>
<body>
	{% include "navbar.njk" %}
    {% block main_content %}{% endblock %}
	{% include "footer.njk" %}
    {% block scripts %}
	<script src="/static/script.js" type="module"></script>
    {% endblock %}
</body>

</html>