
<footer id="contact">
	<h4>
		PlanBi Events
	</h4>
	<p>
		Eleganta in Fiecare Detaliu
	</p>
	<div>
		<a href="mailto:hello@planbi.com" class="hover:text-white transition duration-150">hello@planbi.com</a>
		<span>|</span>
		<a href="tel:+4077123456" class="hover:text-white transition duration-150">(771) 123-456</a>
	</div>
	<p>&copy; 2025 PlanBi Events SRL. | Design by Alexandru-Sebastian SARBU.</p>
</footer>