<nav>
	<div id="navbar-menu" class="navbar-menu">
		<ul>
			<li><a href="#about-me">Despre mine</a></li>
			<li><a href="portfolio.html">Evenimente</a></li>
			<li><a href="#services">Servicii</a></li>
			<li><a href="#booking">Consultanță</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>
	<div class="main-title">PlanBi</div>
	<button id="navbar-toggle" aria-label="Open menu" class="navbar-toggle">
		<span class="bar"></span>
		<span class="bar"></span>
	</button>
</nav>