@view-transition {
	navigation: auto;
}

/* Custom styles for elegance and mobile usability */
:root {
	--shadow-s: 
		inset 0 1px 2px #ffffff30,
		0 1px 2px #00000030,
		0 2px 4px #00000015;
	
	--shadow-m: 
		inset 0 1px 2px #ffffff50,
		0 2px 4px #00000030,
		0 4px 8px #00000015;

	--shadow-l: 
		inset 0 1px 2px #ffffff70,
		0 4px 6px #00000030,
		0 6px 10px #00000015;

	--animation-longer: 500ms;
	--animation-long: 300ms;
	--animation-short: 200ms;
	--animation-debug: 5000ms

	--gray-300: oklch(87.2% 0.01 258.338);
	--gray-500: oklch(55.1% 0.027 264.364);
	--gray-600: oklch(44.6% 0.03 256.802);
	--gray-700: oklch(37.3% 0.034 259.733);
	--gray-800: oklch(27.8% 0.033 256.848);
	--bg: oklch(0.979 0.05 135);
    --text: oklch(0 0 0);
    --highlight: oklch(1 0 0);
	--primary-xxlight: oklch(1 0.01 135);
	--primary-light: oklch(0.845 0.05 135);
	--primary: oklch(0.696 0.05 135);
	--primary-darker: oklch(0.596 0.05 135);
	--primary-dark: oklch(0.508 0.05 135);
	--primary-xxdark: oklch(0.378 0.05 135);
	view-transition-name: none;
	--velvet-bg-color: transparent;

	--ease-in: cubic-bezier(0.42, 0, 1.0, 1.0);
	--ease-out: cubic-bezier(0, 0, 0.58, 1.0);
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overscroll-behavior: none;
}

body {
	overflow-x: hidden;
	background-color: var(--primary-dark);
	font-family: 'Inter', sans-serif;
}

header {
	height: 100svh;
	display: block;
	& > .logo {
		width: 12rem;
		height: 8rem;
		transform: translateY(40svh);
		transition: transform var(--animation-longer) var(--ease-out);
	}
	& > .logo.condensed {
		transform: translateY(100svh) scale(0.5);
		transition: transform var(--animation-longer) var(--ease-in);
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
}

h2 {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

h3 {
	font-family: 'Times New Roman', serif;
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

img {
	user-select: none;
}

.logo-svg {
	fill: white;
}

svg {
	width: 100%;
	height: 100%;
	shape-rendering: geometricPrecision;
	isolation: isolate; 
  	contain: paint;    
	transform: translateZ(0);
}

.title-p {
	d: path("M 203 105.1 C 207.8 102.2 213.4 101.5 218.9 100.7 C 219.1 103.1 219.1 105.5 219.1 107.9 C 229.1 100.8 242.7 99.2 254.1 103.6 C 269.6 109.4 279.8 125.5 280 141.9 C 280.4 154.3 275.2 166.8 265.9 175 C 253.5 186.8 232.9 187.9 219 178.1 C 219 192.2 219.1 206.3 219 220.4 C 213.1 220.4 207.2 220.5 201.3 220.3 C 201.1 183.5 201.3 146.7 201.2 109.9 C 201.2 108.2 201.3 106 203 105.1 Z M 236.2 119.5 C 225.8 121.9 218.9 132.6 219.1 142.9 C 219.067 142.933 219.033 142.967 219 143 C 218.9 152.5 224.7 162.4 234 165.7 C 241.3 168.5 250.2 166.3 255.4 160.4 C 264.6 151.1 264.5 134.6 255.3 125.4 C 250.6 120.2 243.1 117.9 236.2 119.5 Z");
	transition: var(--animation-longer) var(--ease-in);
	&.condensed {
		d: path("M328 167C329 165 370 140 370 140 375 137 377 137 382 140 382 140 409 154 409 154 411 155 412 155 414 154 412.3333 158 410.6667 162 409 166 380 183 369 190 355 198 355 198 335 209 335 209 333 210 332 210 330 209 328 207 328 205 328 205 327 170 327 169 328 167ZM372 148C372 148 339 169 339 169 337 170 336 172 336 173 336 173 334 196 338 196 342 196 398 163 398 159 398 155 380 148 380 148 376 146 375 146 372 148z");
		transition: var(--animation-longer) var(--ease-out);
	}
}
.title-l {
	d: path("M297.6,66.8c5.3-3.3,11.6-4.8,17.8-5c0,41,0,82.1,0,123.1c-6,0-11.9,0-17.8,0    C297.7,145.5,297.6,106.1,297.6,66.8z");
	opacity: 1;
	transition: var(--animation-short) var(--ease-in) var(--animation-short);
	&.condensed {
		opacity: 0;
		transition: var(--animation-short) var(--ease-out);
	}
}
.title-a {
	d: path("M 369.8 101.1 C 378.3 100.4 386.8 102.9 393.8 107.7 C 393.8 105.4 393.8 103.1 393.8 100.8 C 400.1 101.4 406.4 102.6 411.8 106.1 C 411.8 132.4 411.8 158.6 411.8 184.9 C 405.8 185 399.8 184.9 393.8 184.9 C 393.8 182.6 393.8 180.3 393.8 178 C 387.9 182 381 184.5 373.9 184.7 C 358.7 185.4 343.9 175.9 337.4 162.2 C 333.6 154.7 332.3 146.1 333.3 137.8 C 334.3 129.5 337.6 121.5 343 115 C 349.6 107.1 359.5 101.9 369.8 101.1 M 369.2 119.2 C 363.8 120.1 358.9 123.3 355.7 127.8 C 353.7 130.4 352.3 133.5 351.6 136.6 C 350.8 139.8 350.6 143.2 351.1 146.5 C 351.9 153 355.2 159.2 360.7 163.1 C 367.3 168 376.8 168.2 383.5 163.5 C 389.1 159.8 392.5 153.7 393.6 147.2 C 394.6 140.7 393.4 133.7 389.5 128.3 C 387.4 125 384.2 122.4 380.7 120.8 C 377.1 119.2 373.1 118.5 369.2 119.2 Z" );
	transition: var(--animation-longer) var(--ease-in);
	&.condensed {
		d: path("M 412.5 109 C 419.9 111.7 426.7 115.3 433.8 118.1 C 435.6 118.8 437.3 120.4 437 122.4 C 436.8 126.8 436.4 131.2 435.9 135.5 C 435.9 137.2 434.1 137.9 432.9 138.7 C 426.3 142.6 419.8 146.5 413.2 150.2 C 411.6 151.2 409.6 150.9 408.1 149.9 C 401.2 145.5 393.6 142.1 386.8 137.5 C 385 134.9 385.6 131.4 385 128.4 C 384.8 125.4 383.4 121.4 386.4 119.4 C 392.8 115.9 399.6 113.4 406.1 110.2 C 408.1 109.3 410.3 107.9 412.5 109 M 409.4 117.7 C 404.7 119.6 400.2 121.8 395.5 123.9 C 393.7 124.5 392.8 126.4 393.2 128.2 C 393.5 129.8 393.2 131.9 394.8 132.8 C 399.1 135.6 403.6 138 408.1 140.5 C 409.5 141.2 411.2 142.4 412.8 141.2 C 417.8 138.1 423.1 135.6 427.8 132 C 428.6 129.7 429.4 126.3 427.4 124.4 C 423 122 418.4 120.3 413.8 118.3 C 412.4 117.8 410.9 117 409.4 117.7 Z");
		transition: var(--animation-longer) var(--ease-out);
	}
}
.title-n {
	d: path("M 483.7 103 C 472.5 99.2 459.7 101 450.1 107.9 C 450.1 105.5 450.1 103.1 450.1 100.7 C 444.4 101.5 438.4 102.2 433.4 105.4 C 432.6 106.4 432.2 107.7 432.2 108.9 C 432.2 134.2 432.2 159.5 432.2 185 C 438 185 445 185 450 185 C 455 185 465 185 470 185 C 475 185 485 185 493 185 C 499.1 185 505.1 185 511.1 185 C 511 180 511 175 511 170 C 511 165 511 155 511.1 150.8 C 511.1 145 511.4 139.1 510.1 133.4 C 507.2 119.7 497.1 107.5 483.7 103 M 462.9 121 C 468.6 117.9 475.8 118.2 481.3 121.4 C 489 125.5 493 134.3 493 142.8 C 493 185 493 185 493 185 C 480 185 460 185 450 185 C 450 150 450 145 450.1 142.8 C 450 134 454.8 124.9 462.9 121");
	transition: var(--animation-longer) var(--ease-in);
	&.condensed {
		d: path("M 414 170 C 412 169 411 169 409 170 C 409 170 386 184 386 184 C 385 185 385 187 385 188 C 385 188 386 215 388 225 C 388 227 391 230 391 230 C 391 230 408 250 408 250 C 408 250 411 255 413 258 C 415 255 418 250 418 250 C 418 250 433 230 433 230 C 433 230 436 227 436 225 C 438 215 437.2 200 438 188 C 438 187 438 185 437 184 C 437 184 414 170 414 170 M 395 189 C 414 176 408 175 429 189 C 432 191 431 210 427 223 C 423 230 421 233 415 239 C 414 240 412 240 411 239 C 404 233 401 230 397 223 C 394 210 392 191 395 189");
		transition: var(--animation-longer) var(--ease-out);
	}
}
.title-b {
	d: path("M 549.5 61.7 C 549.5 77 549.5 92.4 549.5 107.7 C 556.7 103 565.3 100.3 573.9 101.1 C 585.9 102 597.2 109 603.5 119.2 C 613.7 134.3 612.6 155.9 601.1 170 C 594.7 178.1 585.1 183.5 574.8 184.5 C 565.9 185.6 557 182.8 549.6 178 C 549.6 180.3 549.6 182.6 549.6 184.9 C 543.6 184.9 537.7 184.9 531.7 184.9 C 531.8 145.5 531.7 106.1 531.7 66.7 C 537.1 63.5 543.3 61.7 549.5 61.7 Z M 568.2 119.1 C 558.8 120.5 551.6 128.8 550 138 C 547.9 148.4 552.8 160.6 562.8 165.1 C 570.3 168.8 582 165 585.6 160.7 C 589 157 593 152 593 145 C 593 138 592 132 587 126.9 C 583 122 575.3 117.9 568.2 119.1 Z");
	transition: var(--animation-longer) var(--ease-in);
	&.condensed {
		d: path("M 438 140 C 443 137 445 137 450 140 C 450 140 495 165 496 167 C 497 169 497 170 496 205 C 496 205 496 207 494 209 C 492 210 491 210 489 209 C 486 207 481 204 478 202 C 453 188 439 180 414 166 C 412 165 411 165 409 166 C 410.667 162 412.333 158 414 154 C 414 154 438 140 438 140 Z M 439 148 C 439 148 425 157 425 161 C 425 165 482 196 486 196 C 490 196 488 172 488 173 C 488 172 487 170 485 169 C 485 169 447 148 447 148 C 444 146 443 146 439 148 Z");
		transition: var(--animation-longer) var(--ease-out);
	}
}
.title-i {
	d: path("M625.8,106c5.3-3.4,11.5-4.6,17.7-5.3c0,28,0,56.1,0,84.2c-6,0-11.9,0.1-17.8,0    C625.8,158.6,625.5,132.3,625.8,106z");
	transition: var(--animation-short) var(--ease-in) var(--animation-short);
	&.condensed {
		opacity: 0;
		transition: var(--animation-short) var(--ease-out);
	}
}
.title-crown {
	d: path("M598.8,68c-1,10.7-1.8,21.5-2.7,32.2c-5.3-2.4-10.5-5-15.9-7.4c-6,0.9-11.9,2.9-17.9,3.9 c1.1-10.6,2.2-21.3,3.7-31.9c2.1,4.3,4.2,8.6,6.3,12.9c3.6-5,6.7-10.2,10.4-15.1c2.7,5.5,5,11.2,7.5,16.8 C592.9,75.6,595.7,71.7,598.8,68L598.8,68z");
	transition: var(--animation-longer) var(--ease-in);
	&.condensed {
		d: path("M424.9,83.5c0.1,9.2,0.4,18.4,0.5,27.6c-4.7-1.6-9.4-3.3-14.1-4.8c-5,1.3-9.8,3.5-14.9,4.9 c0-9.1,0-18.3,0.3-27.4c2.2,3.4,4.3,6.9,6.5,10.4c2.6-4.5,4.7-9.3,7.5-13.7c2.8,4.4,5.2,9,7.8,13.6C420.5,90.5,422.6,87,424.9,83.5 L424.9,83.5z");
		transition: var(--animation-longer) var(--ease-out);
	}
}
.title-event-planner {
	d:path("M284.2,204.8c3-2.2,7-2.1,10.5-2.6c5.5-0.2,11-0.1,16.5-0.1c2.1-0.1,4,1.1,5.8,2c-0.3,1.7,0,3.6-1,5    c-1.4,0.3-2.8,0.4-4.2,0.3c-6.9-0.5-13.8-0.2-20.6,1c-0.3,1.1-0.6,2.2-0.9,3.3c5.9,0.6,11.8,0.9,17.7,1.7c0.3,0.5,1,1.6,1.3,2.1    c-0.5,0.9-1,1.8-1.4,2.8c-7.2,2.4-14.9,3.9-21.1,8.4c-3.2,2.6-6.9,4.6-9.2,8.2c5.5,2.1,11.5,2,17.3,1.9c7.4,0.2,14.8-0.4,21.9-2.5    c1.3-1.9,3.1-3,5.5-2.9c0.8,1.5,1.6,3,2.5,4.5c-1.2,1.5-2.2,3.2-3.6,4.5c-5.6,3.3-12.3,3.3-18.5,5.1c-3.9,1.2-7.9,0.3-11.9,0.5    c-6,0.1-12.5-0.4-17.5-3.9c-1.7-2.5-4.8-4.8-4.1-8.2c0.6-3.9,3.8-6.6,6.8-8.9c4.8-4,11-5.4,16.4-8.4c-4-0.8-9.7,1.4-12.1-3    c-0.8-1.5-2.5-3.1-1.6-4.9C280.3,208.6,281.8,206.2,284.2,204.8L284.2,204.8z M387.3,206.5c1.5-1.6,3.8-0.8,5.7-0.9c0,2.3,0.1,4.5,0.1,6.8c3.9,0.6,9.7-1.9,11.9,2.5    c-4.4-0.7-8.6,0.6-13,0.7c-1.7,7.9-4.6,15.9-3.5,24.1c3.7-1.5,5.4-5.4,8.5-7.7c-0.6,4.7-3.9,9.1-8.2,11.1c-3,0.5-4.8-1.9-6.3-4    c-1.5,0.5-3,0.9-4.5,1.2c-2.1-1.9-2.8-4.6-3.4-7.2c-2.7,3.2-4.7,6.9-6.6,10.7c-1.4,0.1-2.7,0.2-4.1,0.2c-0.8-2.4-1.5-4.8-2.5-7.1    c-5.6,3-12.2,7.3-18.7,4.3c-3.7-1.5-2.8-5.9-3.4-9.1c-3.4,2.4-2.4,7.6-5.9,9.9c-2.9,0.8-5.9-1-7-3.8c-1.2-3.3-2-7.1-0.8-10.5    c0.9-1.6,2.4-2.7,3.7-4c1.3,0.5,2.7,1,4,1.5c1,4,0,8-0.1,12c2-2.9,2.7-6.3,3.2-9.7c1.5,1.3,3,2.6,4.6,3.8c1.6-2.2,3.2-4.9,6-5.6    c2.7-1.2,6.8-0.5,7.8,2.6c1.7,3.2-1.1,6.4-3.3,8.7c3.6-0.8,7.2-1.7,10.6-3.2c1.2-2.2,1.3-5.1,3.4-6.8c1.5-0.2,3.1-0.2,4.6-0.4    c0.3,1.8,0.6,3.7,0.9,5.5c2-1.7,3.9-3.7,6.7-3.8c1.4,2.5,1.6,5.3,2,8.1c0.4-0.4,1.1-1.3,1.5-1.8c-0.2-6.1-0.2-12.3,1.6-18.2    c-4.2,0.8-8.5,1.6-12.3,3.6l-1.8-2.7c1.6-2.1,4-3.4,6.3-4.6c3.3-0.8,6.8-0.4,10.2-0.8C385.8,210.1,385.4,207.6,387.3,206.5    L387.3,206.5z M346.7,233.7c2.5-0.5,4.6-1.9,5.3-4.4C349.8,230.1,348.1,231.8,346.7,233.7z M424.7,200.5c1.3-0.9,2.8-1.6,4.1-2.5c1.2,2.4,2.5,4.7,3.4,7.2c6,0,12-0.4,18,0.5c2.5,0.5,4.9,1.4,7.4,1.6    c5.2,0.4,8.8,4.7,12.7,7.7c4,4.5,1.2,11-3.4,13.8c-6.8,6.1-16.1,7.5-24.7,9.1c-4.2,0.2-8.4,0.2-12.4-1c0,3.8,0.2,7.6,0.4,11.4    c-0.9-0.1-2.6-0.2-3.4-0.3c-0.6-3.9-1.4-7.7-1.9-11.6c-4.8-1.5-10.6-5.5-9.7-11.2c0.3-3,3.7-2.4,5.9-2.8c-0.4,1.7-0.8,3.3-1.2,5    c1.5,0.7,2.9,1.4,4.4,2.1c-0.4-5.2-0.3-10.5-0.1-15.7c-4.9,0.6-9.8,2.2-14.8,1.2c-0.3-1.2-0.5-2.3-0.7-3.5    c4.4-3.6,10-4.8,15.4-5.6C424.3,204,424.4,202.2,424.7,200.5L424.7,200.5z M431.5,213.4c-0.1,5.4-0.5,10.9-1,16.3    c7.9,0.5,15.8-0.7,23.5-2.4c4.6-1,9.5-3.2,11.6-7.6c-1.4-1.1-2.7-2.3-4.2-3.1C452.1,212.3,441.5,213.4,431.5,213.4L431.5,213.4z M479.7,205.6c1.6-0.4,3.2-0.4,4.8-0.5c0.1,7.1-3.6,13.4-4.4,20.4c-0.7,5.3-2,11,0.1,16.2    c2.6-2.6,4.4-5.8,6-9.1c2.5-4.8,7.6-7.6,12.7-8.8c2.2,0.3,4.3,0.9,6.4,1.5c0.4,2.9,0.5,5.9,1.1,8.8c1.5-2.1,1.6-5.2,3.7-6.8    c1.5-0.2,3.1-0.2,4.7-0.3c0.3,1.8,0.6,3.7,0.9,5.6c2-1.8,4-3.8,6.8-3.9c1.3,2.5,1.6,5.4,2.1,8.1c1.8-2.4,2.7-5.3,3.8-8.1    c1-2.4,3.9-1.3,5.9-1.8c0.3,1.8,0.6,3.7,0.9,5.5c2-1.7,3.9-3.7,6.7-3.8c1.4,2.4,1.6,5.2,1.9,8c4.3-2.8,5.1-9.4,10.4-10.8    c2.1-1.1,4.4-0.1,6.5,0.5c0.7,1.8,2,3.5,1.5,5.5c-0.8,2-2.2,3.8-3.6,5.4c3.8-0.8,7.6-2,11.3-3.2c-1.5-2.6-0.6-5.5-0.8-8.3    c3.6,0.2,7.3,0,10.8,0.9c0,2.2-0.1,4.3-0.3,6.5c1.4-1.1,2.9-2,4.6-2.7c-1.3,4.4-4.8,10.4-10.2,8.4c-1.7-3.7-0.9-7.8,0.6-11.4    c-3.3,0.8-2.2,5.1-2.8,7.7c-3.4,2.2-7,4.1-10.6,5.9c-4.7,2.2-11.3,2.4-14.4-2.5c-1.3,1.1-2.8,2.1-4.6,1.7    c-2.7-1.2-2.7-4.4-3.5-6.9c-2.6,3.2-4.7,6.9-6.5,10.6c-1.5,0.1-2.9,0.1-4.3,0.2c-0.5-1.6-0.8-3.2-1.1-4.8    c-1.3,0.5-2.7,0.9-4.1,1.2c-2.2-1.8-2.7-4.6-3.3-7.2c-2.7,3.2-4.7,6.9-6.7,10.6c-1.4,0.1-2.8,0.2-4.1,0.3    c-0.5-1.6-0.9-3.3-1.4-4.9c-1.8-1.7-3.8-3.1-5.3-5c-4.6,3.2-10.2,6.4-15.9,4.2c-1.7,3.1-3.8,7.5-8.1,5.5c-4.9-4.6-5.2-11.9-5-18.2    C472.6,218.3,475.7,211.5,479.7,205.6L479.7,205.6z M553.6,233.7c2.5-0.4,4.4-1.9,5.1-4.4C556.6,230.1,555,231.8,553.6,233.7z     M492.2,235c3.2-0.7,6.3-1.9,8.8-4.1C497.9,231.8,494.9,233.2,492.2,235z");
	transition: var(--animation-short) var(--ease-in) var(--animation-short);
	&.condensed {
		opacity: 0;
		transition: var(--animation-short) var(--ease-out);
	}
}

.hidden {
	opacity: 0 !important;
}

.isSticky {
	position: sticky;
	top: -1px;
	bottom: -1px;
	padding-top: calc(1px);
	height: 100svh;
	width: 100%;
	z-index: 30;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-bottom: none;
	box-shadow: none;
	transition: opacity var(--animation-short) var(--ease-out) var(--animation-short);
	&.faded {
		opacity: 0;
		transition: opacity var(--animation-short) var(--ease-out);
	}
}

nav {
	height: 4rem;
	width: 100%;
	position: fixed;
	z-index: 10;
	background-color: var(--primary-dark);
	view-transition-name: nav-bar;
}

#velvet-container {
	width: 100%;
	height: 100vh;
	height: 100svh;
	z-index: 20;
	position: absolute;
	background-size: cover;
	border-bottom: none;
	box-shadow: none;
	background-color: var(--velvet-bg-color);
	transition: opacity var(--animation-short) var(--ease-out) var(--animation-short);
	&.faded {
		opacity: 0;
		transition: opacity var(--animation-short) var(--ease-in);
	}
}

.navbar-toggle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 4vw;
	height: 100%;
	view-transition-name: nav-toggle;
}
.bar {
	display: block;
	width: 2rem;
	height: 2px;
	margin: .125rem auto;
	border-radius: 1px;
	background-color: var(--highlight);
}

#navbar-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary-dark);
}

.navbar-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: var(--primary-dark);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		pointer-events: none;
		transform: translateY(-100vh);
		transition:
			opacity var(--animation-short) ease-in,
			transform var(--animation-short) ease-in;
}
.navbar-menu.active {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0);
		transition:
			opacity var(--animation-short) ease-out,
			transform var(--animation-short) ease-out;
}
.navbar-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar-menu li {
	margin: 2rem 0;
}
.navbar-menu a {
	color: var(--highlight);
	font-size: 2rem;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.2s;
}
.navbar-menu a:hover {
	color: var(--primary-xxdark);
}

nav .main-title {
	height: 4rem;
	view-transition-name: nav-title;
}

section {
	width: 100%;
	padding-block: 8rem;
	padding-inline: 2rem;
	scroll-margin-top: 0px;
	text-align: center;
	box-sizing: border-box;
}
/* About Me Section Styles */
#about-me {
	background-color: var(--highlight);
}

#about-me h3 {
	color: oklch(27.8% 0.033 256.848);
}

#about-me h2 {
	color: oklch(37.3% 0.034 259.733);
}

.about-me-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	margin-top: 3rem 0;
}

.about-me-image {
	flex: 0 0 20rem;
	max-width: 20rem;
	height: 20rem;
	border-radius: 1rem;
	box-shadow: var(--shadow-l);
	overflow: hidden;
}

.about-me-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
}

.about-me-text {
	flex: 1;
	text-align: left;
	color: var(--highlight);
	font-size: 1.25rem;
	line-height: 1.7;
	background: var(--primary);
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: var(--shadow-l);
}

@media screen and (max-width: 800px) {
	.about-me-content {
		flex-direction: column;
		gap: 2rem;
	}
}

section > p {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4rem;
}

.main-title,
.logo {
	font-family: 'Kelvetica', serif;
	color: var(--highlight);
	font-weight: normal;
	user-select: none;
	position: absolute;
	left: 50%;
	translate: -50% 0;
	z-index: 40;
	top: 0;
	transform-origin: top center;
}

.subtitle {
	font-size: 1.25rem;
	color: var(--highlight);
	width: 100%;
	height: calc(40svh);
	font-weight: 400;
	user-select: none;
	opacity: 1;
	position: absolute;
	top: calc(60svh);
	left: 50%;
	translate: -50% 0;
}

.subtitle h2 {
	font-family: sans-serif;
	font-size: 2.5rem;
	margin: 1rem;
}

.subtitle p {
	margin-top: 2rem;
	font-size: 1.25rem;
}

.subtitle a {
	color: var(--highlight);
	font-weight: bold;
	position: absolute;
	bottom: 2rem;
	transform: translateX(-50%);
	text-decoration: none;
}

#portfolio {
	background-color: var(--primary-darker);
	view-transition-name: portfolio-section;
}

#portfolio h3 {
	color: oklch(98.5% 0.002 247.839);
	view-transition-name: portfolio-h3;
}

#portfolio h2 {
	color: rgb(243, 244, 246);
	view-transition-name: portfolio-h2;
}

#portfolio p {
	color: oklch(93.3% 0.005 261.538);
	view-transition-name: portfolio-p;
}

#portfolio .read-more-btn {
	background-color: var(--primary-dark);
}

.event {
	box-shadow: var(--shadow-l);
	position: relative;
	border-radius: 1rem;
	border: 1px solid var(--primary-xxdark);
	border-top: 0.25rem solid var(--primary-xxdark);
	padding: 0;
	overflow: hidden;
	min-height: 24rem;
	height: 100%;
}

.event::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
}

.event img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
	/* Temporarily disable parallax scale: 150%; */
	margin-bottom: 1.5rem;
}

button:disabled, .btn:disabled, [type="submit"]:disabled {
	background-color: var(--primary) !important;
	color: #fff;
	cursor: not-allowed;
}

button {
	font-size: 1.25rem;
}

.card h4, .small-card h4 {
  color: var(--text);
  font-family: 'Times New Roman', serif;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: bold;
}
.card h4 { font-size: 1.5rem; }
.small-card h4 { font-size: 1.25rem; margin: 0 0 1rem 0; }

.card {
	box-shadow: var(--shadow-l);
	background-color: var(--highlight);
	padding: 2rem;
	border-top: 4px solid var(--primary);
	border-radius: 1rem;
	position: relative;
}

.card ul {
	margin-top: 1rem 0 3rem 0;
	text-align: left;
	color: var(--gray-500);
	font-size: 0.875rem;
	padding: 0 0 1rem  0;
}

.card ul li::before {
 content: '✔';
  display: inline-block;
  color: var(--primary);
  padding: 0 6px 0 0;
}
.card ul li {
		display: flex;
		align-items: left;
}
.card ul li span {
	color: var(--primary-light);
	margin-right: 0.5rem;
}

.small-card{
	box-shadow: var(--shadow-l);
	padding: 2rem;
	padding-bottom: 4rem;		
	border: none; /* Remove full border */
    border-top: 4px solid var(--primary); /* Only top border */
    border-radius: 1rem;
	position: relative;
}
.small-card h4 {
	margin: 0;
	font-size: 1.25rem;
}

.small-card p {
	color: var(--gray-500);
	font-size: 1rem;
}

.price {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	padding: 0.5rem 1.5rem;
	background-color: var(--primary);
	font-weight: bold;
	border-radius: 9999px;
	box-shadow: var(--shadow-m);
	color: var(--highlight);
}

.btn {
	display: inline-block;
	margin-top: 2rem;
	padding: 0.75rem 2rem;
	background-color: var(--primary-dark);
	color: var(--highlight);
	font-weight: bold;
	border-radius: 9999px;
	border-style: none;
	box-shadow: var(--shadow-l);
}

.portfolio-details {
	width: 100%;
	padding-block: 2rem;
	box-sizing: border-box;
}

.portfolio-details .image-grid {
	column-count: 3;
	column-gap: 1rem;
	width: 100%;
	margin: 0 auto;
}

.portfolio-details .image-grid img {
	width: 100%;
	display: block;
	margin-bottom: 1rem;
	border-radius: 1rem;
	box-shadow: var(--shadow-m);
	object-fit: cover;
}

img.landscape {
	aspect-ratio: 4 / 3;
}
img.portrait {
	aspect-ratio: 3 / 4;
}

.white {
	background-color: var(--primary-xxlight);
}

#services {
	view-transition-name: services-section;
}

#services>h3 {
	color: oklch(27.8% 0.033 256.848);
	view-transition-name: services-h3;
}

#services>h2 {
	color: oklch(37.3% 0.034 259.733);
	view-transition-name: services-h2;
}

#services>p {
	color: oklch(44.6% 0.03 256.802);
	view-transition-name: services-p;
}

.main-services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin-top: 2rem;
}

#additional-services {
	padding-top: 8rem;
}

#additional-services h3 {
	color: var(--gray-800);
}

#additional-services h2 {
	color: var(--gray-700);
}

.additional-details {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin-top: 2rem;
	margin-bottom: 4rem;
	padding-block: 2rem;
}

#booking {
	background-color: var(--primary-darker);
	text-align: center;
	color: var(--highlight);
	view-transition-name: booking-section;
	> h3 { view-transition-name: booking-h3; }
	> h2 { view-transition-name: booking-h2; }
	> p { view-transition-name: booking-p; }
}

.consultation-form {
	background-color: var(--highlight);
	padding: 2rem 2rem 1rem 2rem;
	border-radius: 1rem;
	box-shadow: var(--shadow-l);
	text-align: left;
	
	.content {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 2rem;
		padding-bottom: 2rem;
		color: var(--text);
	}

	> p {
		font-size: 0.75rem;
		text-align: center;
		margin-bottom: 2rem;
		padding-top: 1rem;
		color: var(--gray-600);
	}
}

.consultation-form .gdpr-checkbox {
	grid-column: 1 / -1;
	margin: 1.5em 0;
	column-span: 2;
}
.consultation-form textarea.consultation-input {
	grid-column: 1 / -1;
}

.consultation-label {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	color: var(--gray-700);
}

.consultation-input {
	width: 100%;
	padding: 0.75rem;
	border: 1px solid var(--gray-300);
	border-radius: 0.5rem;
	font-size: 1rem;
	box-sizing: border-box;

	focus {
		border-color: var(--primary);
		box-shadow: 0 0 0 2px var(--primary-light);
	}
}

.consultation-submit-button {
	padding: 1rem 1.5rem;
	background-color: var(--primary-dark);
	color: var(--highlight);
	font-weight: bold;
	border-radius: 9999px;
	column-span: all;
	width: 100%;
	border-style: none;

	hover {
		background-color: var(--primary-darker);
	}
}

footer {
	background-color: var(--primary-xxdark);
	color: var(--highlight);
	padding: 2rem;
	text-align: center;

	h4 {
		margin: 0;
		font-size: 1.25rem;
		font-weight: bold;
	}

	a {
		color: var(--highlight);
		text-decoration: underline;
	}
}

.gdpr-container {
	max-width: 700px;
	margin: 40px auto;
	background: #fff;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}
.gdpr-title {
	font-size: 2rem;
	margin-bottom: 1rem;
}
.gdpr-text {
	font-size: 1rem;
	margin-bottom: 1.5rem;
}

#gdpr-policy-link {
	color: var(--primary);
	font-weight: bold;
}
#gdpr-policy-link:visited,
#gdpr-policy-link:active {
	color: var(--primary-dark);
}

main.thankyou {
	margin-top: -90svh;
}

::view-transition-group(*) {
	animation-duration: var(--animation-longer);
}

/* https://www.nicchan.me/blog/view-transitions-and-stacking-context/ */
::view-transition-group(nav-bar),
::view-transition-group(nav-title),
::view-transition-group(nav-toggle) {
	z-index: 50;
}

@media screen and (max-width: 800px) {
	.additional-details {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		margin-top: 1rem;
	}

	.main-services {
		grid-template-columns:  repeat(1, minmax(0, 1fr));
		gap: 1rem;
		margin-top: 1rem;
	}
}

@media screen and (max-width: 425px) {
	section {
		padding-inline: 1rem;
	}
	.consultation-form {
		padding: 1rem;
	}

	.consultation-form .content {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.additional-details {
		grid-template-columns:  repeat(1, minmax(0, 1fr));
	}

	.card {
		height: 25rem;
	}

	.small-card {
		height: 8rem;
	}

	.portfolio-details .image-grid {
		column-count: 1;
	}

	.consultation-form {
		grid-template-columns: 1;
	}
}
