{% extends "base.njk" %}
{% block head_extra %}
	{{ super() }}
	<script>
		document.documentElement.style.setProperty('--velvet-bg-color', 'var(--primary-dark)');
	</script>
{% endblock %}
{% block main_content %}
	<header id="header">
		<div id="velvet-container"></div>
		<div class="logo">
			<svg viewBox="200 20 445 300">
				<path class="title-p logo-svg"/>
				<path class="title-l logo-svg"/>
				<path class="title-a logo-svg"/>
				<path class="title-n logo-svg"/>
				<path class="title-b logo-svg"/>
				<path class="title-i logo-svg"/>
				<path class="title-crown logo-svg"/>
				<path class="title-event-planner logo-svg"/>
			</svg>
		</div>
		<div class="isSticky">
			<div class="subtitle">
				<h2>
					Because ordinary isn't enough
				</h2>
				<p class="text-xl text-highlight mx-auto font-serif mb-8 mt-16">
					Organizam celebrări de neuitat, fără stres.
				</p>
				<a href="#portfolio">
					↓ Începe acum ↓
				</a>
			</div>
		</div>
	</header>
	<main>
		<section id="about-me">
			<h3>Despre mine</h3>
			<h2>Behind every great event, there's a kick-ass mom with a plan — PlanBi 😉</h2>
			<div class="about-me-content">
				<div class="about-me-image">
					<img src="images/Bianca-1024.webp" srcset="
						images/Bianca-360.webp 360w,
						images/Bianca-720.webp 720w,
						images/Bianca-1024.webp 1024w,
						images/Bianca-1440.webp 1440w,
						images/Bianca-1920.webp 1920w" sizes="
						(max-width: 360px) 360px,
						(max-width: 720px) 720px,
						(max-width: 1024px) 1024px,
						(max-width: 1440px) 1440px,
						(max-width: 1920px) 1920px" alt="Despre mine" 
						loading="lazy"/>
				</div>
				<div class="about-me-text">
					<p>
						I'm a dreamer, planner & kick-ass mom behind PlanBi 🎉
					</p>
					<p>
						PlanBi e copilul meu creativ (celălalt are deja jucării 😅) — un spațiu unde ideile prind viață,
						iar evenimentele devin povești cu personalitate. Organizez cu suflet, stil și un strop de haos
						frumos, pentru că știu că magia stă în detalii. Iubesc oamenii, momentele autentice și acel main
						character energy care face fiecare eveniment truly unforgettable.
					</p>
				</div>
			</div>
		</section>
		<section id="portfolio">
			<h3>Evenimentele Noastre</h3>
			<h2>
				Amintiri Prețioase & Recenzii Strălucitoare
			</h2>
			<p>
				Vedeți magia pe care am creat-o și ascultați ce au de spus clienții noștri fericiți despre experiența
				lor cu PlanBi.
			</p>
			<!-- Redirect on click to portfolio html-->
			<a class="btn" href="portfolio.html">Descoperă</a>
		</section>

		<!-- Services Section -->
		<section id="services" class="white">
			<h3>Ofertele Noastre</h3>
			<h2>
				Soluții de Planificare pentru Fiecare Eveniment
			</h2>
			<p>
				Vă transformăm viziunea într-un eveniment de neuitat. De la prima discuție la momentul culminant,
				asigurăm un parcurs plăcut și o zi perfectă.
			</p>
			<a class="btn" href="services.html">Descoperă</a>
		</section>

		<!-- Consultation Booking Form Section -->
		<section id="booking">
			<h3>Următorul pas</h3>
			<h2>
				Programați o sesiune de consultanță
			</h2>
			<p>
				Spuneți-ne puțin despre viziunea evenimentului și vom programa o discuție rapidă pentru a vedea cum
				putem să o aducem la viață.
			</p>
			
			<a class="btn" href="booking.html">Descoperă</a>
		</section>
	</main>
	{% endblock %}
	{% block scripts %}
	{{ super() }}
	{% set js %}{% include "static/index.js" %}{% endset %}
    {{ js | jsmin | safe }}
	{% endblock %}
</body>
</html>