{% extends "base.njk" %}
{% block main_content %}
    <main style="margin-top: -1px;">
        <section id="portfolio" style="padding-top: 4rem">
            <h3 class="portfolio-title">Evenimentele Noastre</h3>
            <h2>
                Amintiri Prețioase & Recenzii Strălucitoare
            </h2>
            <p>
                Vedeți magia pe care am creat-o și ascultați ce au de spus clienții noștri fericiți despre experiența lor cu PlanBi.
            </p>
            <div id="divider" class="divider"></div>
            <div id="portfolio-details" class="portfolio-details">
                <div class="image-container section">
                    <div class="image-reel">
                        <img class="slice" src="images/BOTEZ5-1024.webp"
                            srcset="images/BOTEZ5-360.webp 360w, images/BOTEZ5-720.webp 720w, images/BOTEZ5-1024.webp 1024w, images/BOTEZ5-1440.webp 1440w, images/BOTEZ5-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ5" />
                        <img class="slice" src="images/BOTEZ7-1024.webp"
                            srcset="images/BOTEZ7-360.webp 360w, images/BOTEZ7-720.webp 720w, images/BOTEZ7-1024.webp 1024w, images/BOTEZ7-1440.webp 1440w, images/BOTEZ7-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ7" />
                        <img class="slice" src="images/BOTEZ1-1024.webp"
                            srcset="images/BOTEZ1-360.webp 360w, images/BOTEZ1-720.webp 720w, images/BOTEZ1-1024.webp 1024w, images/BOTEZ1-1440.webp 1440w, images/BOTEZ1-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ1" />
                        <img class="slice" src="images/BOTEZ2-1024.webp"
                            srcset="images/BOTEZ2-360.webp 360w, images/BOTEZ2-720.webp 720w, images/BOTEZ2-1024.webp 1024w, images/BOTEZ2-1440.webp 1440w, images/BOTEZ2-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ2" />
                        <img class="slice" src="images/BOTEZ3-1024.webp"
                            srcset="images/BOTEZ3-360.webp 360w, images/BOTEZ3-720.webp 720w, images/BOTEZ3-1024.webp 1024w, images/BOTEZ3-1440.webp 1440w, images/BOTEZ3-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ3" />
                        <img class="slice" src="images/BOTEZ4-1024.webp"
                            srcset="images/BOTEZ4-360.webp 360w, images/BOTEZ4-720.webp 720w, images/BOTEZ4-1024.webp 1024w, images/BOTEZ4-1440.webp 1440w, images/BOTEZ4-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ4" />
                        <img class="slice" src="images/BOTEZ8-1024.webp"
                            srcset="images/BOTEZ8-360.webp 360w, images/BOTEZ8-720.webp 720w, images/BOTEZ8-1024.webp 1024w, images/BOTEZ8-1440.webp 1440w, images/BOTEZ8-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ8" />
                        <img class="slice" src="images/BOTEZ9   -1024.webp"
                            srcset="images/BOTEZ9-360.webp 360w, images/BOTEZ9-720.webp 720w, images/BOTEZ9-1024.webp 1024w, images/BOTEZ9-1440.webp 1440w, images/BOTEZ9-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ9" />
                        <img class="slice" src="images/BOTEZ10-1024.webp"
                            srcset="images/BOTEZ10-360.webp 360w, images/BOTEZ10-720.webp 720w, images/BOTEZ10-1024.webp 1024w, images/BOTEZ10-1440.webp 1440w, images/BOTEZ10-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ10" />
                        <img class="slice" src="images/BOTEZ15-1024.webp"
                            srcset="images/BOTEZ15-360.webp 360w, images/BOTEZ15-720.webp 720w, images/BOTEZ15-1024.webp 1024w, images/BOTEZ15-1440.webp 1440w, images/BOTEZ15-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ15" />
                        <img class="slice" src="images/BOTEZ6-1024.webp"
                            srcset="images/BOTEZ6-360.webp 360w, images/BOTEZ6-720.webp 720w, images/BOTEZ6-1024.webp 1024w, images/BOTEZ6-1440.webp 1440w, images/BOTEZ6-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ6" />
                        <img class="slice" src="images/BOTEZ16-1024.webp"
                            srcset="images/BOTEZ16-360.webp 360w, images/BOTEZ16-720.webp 720w, images/BOTEZ16-1024.webp 1024w, images/BOTEZ16-1440.webp 1440w, images/BOTEZ16-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ16" />
                        <img class="slice" src="images/BOTEZ17-1024.webp"
                            srcset="images/BOTEZ17-360.webp 360w, images/BOTEZ17-720.webp 720w, images/BOTEZ17-1024.webp 1024w, images/BOTEZ17-1440.webp 1440w, images/BOTEZ17-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ17" />
                        <img class="slice" src="images/BOTEZ18-1024.webp"
                            srcset="images/BOTEZ18-360.webp 360w, images/BOTEZ18-720.webp 720w, images/BOTEZ18-1024.webp 1024w, images/BOTEZ18-1440.webp 1440w, images/BOTEZ18-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ18" />
                        <img class="slice" src="images/BOTEZ20-1024.webp"
                            srcset="images/BOTEZ20-360.webp 360w, images/BOTEZ20-720.webp 720w, images/BOTEZ20-1024.webp 1024w, images/BOTEZ20-1440.webp 1440w, images/BOTEZ20-1920.webp 1920w"
                            sizes="(max-width: 425px) 100vw, (max-width: 800px) 50vw, 33vw"
                            alt="Eveniment BOTEZ20" />
                        </div>
                </div>
                <div id="selector" class="selector">
                    <div class="selector-container section"></div>
                </div>
            </div>
            <!-- Back button -->
            <a class="btn" href="/#portfolio">Înapoi</a>
        </section>
    </main>
	<script src="static/effects.js" type="module"></script>
	<script src="static/portfolio.js" type="module"></script>
    {% endblock %}
    
</body>
</html>
