{% extends "base.njk" %}
{% block head_extra %}
	<link rel="stylesheet" href="/static/style.css">
	<script>
		document.documentElement.style.setProperty('--velvet-bg-color', 'var(--primary-dark)');
	</script>
{% endblock %}

{% block main_content %}
    <header>
        <div id="velvet-container"></div>
    </header>
    <main class="thankyou">
            <section style="display: flex; justify-content: center; align-items: center; padding: 1em;">
                <div class="card" style="max-width: 500px; margin: 10rem auto; text-align: center;">
                    <h2 style="position: static; font-size: 2.5rem; margin-bottom: 1rem;color: black;">Mulțumim!</h2>
                    <p>Cererea a fost primită cu succes.</p>
                    <div class="number" id="number"
                        style="font-size: 2em; color: var(--primary-dark); margin-top: 20px;"></div>
                    <a href="/index.html" class="btn" style="margin-top: 2em;">Înapoi la pagina principală</a>
                </div>
            </section>
    </main>
    <script>
        // Get random number from URL query string
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }
        const number = getQueryParam('number');
        document.getElementById('number').textContent = number ? `Solicitarea poate fi identificată cu numărul: ${number}` : '';
    </script>
	<script src="/static/index.js" type="module"></script>
	{% endblock %}
</body>

</html>