{% extends "base.njk" %}
{% block head_extra %}
    <style>
    {% set css %}
		{% include "static/style.css" %}
		{% include "static/thankyou.css" %}
    {% endset %}
    {{ css | cssmin | safe }}
	</style>
    <script>
		document.documentElement.style.setProperty('--velvet-bg-color', 'var(--primary-dark)');
	</script>
{% endblock %}

{% block main_content %}
    <header>
        <div id="velvet-container"></div>
    </header>
    <main class="thankyou">
            <section class="thankyou-section">
                <div class="card thankyou-card">
                    <h2 class="thankyou-title">Mulțumim!</h2>
                    <p>Cererea a fost primită cu succes.</p>
                    <div class="number thankyou-number" id="number"></div>
                    <a href="/index.html" class="btn thankyou-btn">Înapoi la pagina principală</a>
                </div>
            </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const numberElement = document.getElementById('number');
            if (!numberElement) { return; }

            const urlParams = new URLSearchParams(window.location.search);
            const requestNumber = urlParams.get('number');
            const label = 'Solicitarea poate fi identificată cu numărul: ';

            numberElement.textContent = requestNumber ? `${label}${requestNumber}` : '';
    });

    </script>
	<script src="/static/index.js" type="module"></script>
	{% endblock %}
</body>

</html>